.header {
    background-color: aqua;
    align-content: center;
    text-align: center;
    background: linear-gradient(rgb(0, 4, 255),rgb(177, 213, 224),rgb(0, 60, 255));
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    
  }
  
  
.topnav a { 
    float: left;
    color: #fafafa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  
.topnav a:hover {
    background-color: #36bd29;
    color: rgb(247, 243, 243);
  }
  
  
  .topnav a.active {
    background-color: #04AA6D;
    color: rgb(19, 212, 2);
  }

  .box {
    width: 45%;
    padding: 10px;
    /* border: 2px solid rgb(245, 239, 239); */
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    background: transparent;
    color: white;
  }

  .container1 {
    width: 100%;
  }


  #myVideo {
  background-size: contain, cover;
  right: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}